.not-found-page-container {
  background-image: url('https://res.cloudinary.com/df8n5yti7/image/upload/v1671028484/snow-removal-machine-working-high-ski-slope-snowstorm_454047-2149_1page_not_found_cl7yjc.png');
  min-height: 100vh;
  background-size: 100% 100%;
}
