.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

.logo-container {
  display: flex;
}

.routes-container {
  display: flex;
}

.route-item {
  list-style-type: none;
  margin: 20px;
}
